@charset "utf-8";
html { padding:0; margin:0; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
.clr { clear: both; font-size; 0; overflow: hidden; height: 0; }
/* main */
.main_jadii {  position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; width: 1280px; }
body { margin:0; padding:0; width:100%; background:url(../images/Layer0.png) top center repeat; }
body { margin:0; padding:0; width:100%; background:url(../images/Layer1.png) top center repeat; }
#Layer12copy {
  position: absolute;
  left: 100px;
  top: 9px;
  height: 604px;
  z-index: 0;
  width: 1081px;
}

#Layer2 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 682px;
  z-index: 1;
  width: 1024px;
}

#Layer30 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 568px;
  z-index: 2;
  width: 588px;
}

#Layer3 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 7px;
  z-index: 3;
  width: 1024px;
}

body { margin:0; padding:0; width:100%; background:url(../images/Layer0.png) top center repeat; }
body { margin:0; padding:0; width:100%; background:url(../images/Layer1.png) top center repeat; }
#Layer12copy {
  position: absolute;
  left: 100px;
  top: 9px;
  height: 604px;
  z-index: 4;
  width: 1081px;
}

#Layer2 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 682px;
  z-index: 5;
  width: 1024px;
}

#Layer30 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 568px;
  z-index: 6;
  width: 588px;
}

#Layer3 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 7px;
  z-index: 7;
  width: 1024px;
}

#XmanBank {
  position: absolute;
  left: 224px;
  top: 42px;
  height: 31px;
  z-index: 8;
  width: 177px;
}

#goldlogo {
  position: absolute;
  left: 167px;
  top: 27px;
  height: 56px;
  z-index: 9;
  width: 47px;
}

body { margin:0; padding:0; width:100%; background:url(../images/Layer0.png) top center repeat; }
body { margin:0; padding:0; width:100%; background:url(../images/Layer1.png) top center repeat; }
#Layer12copy {
  position: absolute;
  left: 100px;
  top: 9px;
  height: 604px;
  z-index: 10;
  width: 1081px;
}

#Layer2 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 682px;
  z-index: 11;
  width: 1024px;
}

#Layer30 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 568px;
  z-index: 12;
  width: 588px;
}

#Layer3 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 7px;
  z-index: 13;
  width: 1024px;
}

#XmanBank {
  position: absolute;
  left: 224px;
  top: 42px;
  height: 31px;
  z-index: 14;
  width: 177px;
}

#goldlogo {
  position: absolute;
  left: 167px;
  top: 27px;
  height: 56px;
  z-index: 15;
  width: 47px;
}

#Layer6 {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 16;
  width: 960px;
}

#Layer10copy {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 17;
  width: 82px;
}

#HomeAboutusOurser161 {
  position: absolute;
  left: 182px;
  top: 107px;
  height: 14px;
  z-index: 18;
  width: 554px;
  font: 16.0px Helvetica;
  color: #ececec;
}

#Layer10 {
  position: absolute;
  left: 781px;
  top: 96px;
  height: 34px;
  z-index: 19;
  width: 340px;
}

#Callus2457555222333 {
  position: absolute;
  left: 873px;
  top: 106px;
  height: 17px;
  z-index: 20;
  width: 225px;
}

body { margin:0; padding:0; width:100%; background:url(../images/Layer0.png) top center repeat; }
body { margin:0; padding:0; width:100%; background:url(../images/Layer1.png) top center repeat; }
#Layer12copy {
  position: absolute;
  left: 100px;
  top: 9px;
  height: 604px;
  z-index: 21;
  width: 1081px;
}

#Layer2 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 682px;
  z-index: 22;
  width: 1024px;
}

#Layer30 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 568px;
  z-index: 23;
  width: 588px;
}

#Layer3 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 7px;
  z-index: 24;
  width: 1024px;
}

#XmanBank {
  position: absolute;
  left: 224px;
  top: 42px;
  height: 31px;
  z-index: 25;
  width: 177px;
}

#goldlogo {
  position: absolute;
  left: 167px;
  top: 27px;
  height: 56px;
  z-index: 26;
  width: 47px;
}

#Layer6 {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 27;
  width: 960px;
}

#Layer10copy {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 28;
  width: 82px;
}

#HomeAboutusOurser161 {
  position: absolute;
  left: 182px;
  top: 107px;
  height: 14px;
  z-index: 29;
  width: 554px;
  font: 16.0px Helvetica;
  color: #ececec;
}

#Layer10 {
  position: absolute;
  left: 781px;
  top: 96px;
  height: 34px;
  z-index: 30;
  width: 340px;
}

#Callus2457555222333 {
  position: absolute;
  left: 873px;
  top: 106px;
  height: 17px;
  z-index: 31;
  width: 225px;
}

#MyaccountSettings143 {
  position: absolute;
  left: 910px;
  top: 68px;
  height: 14px;
  z-index: 32;
  width: 206px;
}

body { margin:0; padding:0; width:100%; background:url(../images/Layer0.png) top center repeat; }
body { margin:0; padding:0; width:100%; background:url(../images/Layer1.png) top center repeat; }
#Layer12copy {
  position: absolute;
  left: 100px;
  top: 9px;
  height: 604px;
  z-index: 33;
  width: 1081px;
}

#Layer2 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 682px;
  z-index: 34;
  width: 1024px;
}

#Layer30 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 568px;
  z-index: 35;
  width: 588px;
}

#Layer3 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 7px;
  z-index: 36;
  width: 1024px;
}

#XmanBank {
  position: absolute;
  left: 224px;
  top: 42px;
  height: 31px;
  z-index: 37;
  width: 177px;
}

#goldlogo {
  position: absolute;
  left: 167px;
  top: 27px;
  height: 56px;
  z-index: 38;
  width: 47px;
}

#Layer6 {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 39;
  width: 960px;
}

#Layer10copy {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 40;
  width: 82px;
}

#HomeAboutusOurser161 {
  position: absolute;
  left: 182px;
  top: 107px;
  height: 14px;
  z-index: 41;
  width: 554px;
  font: 16.0px Helvetica;
  color: #ececec;
}

#Layer10 {
  position: absolute;
  left: 781px;
  top: 96px;
  height: 34px;
  z-index: 42;
  width: 340px;
}

#Callus2457555222333 {
  position: absolute;
  left: 873px;
  top: 106px;
  height: 17px;
  z-index: 43;
  width: 225px;
}

#MyaccountSettings143 {
  position: absolute;
  left: 910px;
  top: 68px;
  height: 14px;
  z-index: 44;
  width: 206px;
}

#Layer13 {
  position: absolute;
  left: 161px;
  top: 143px;
  height: 309px;
  z-index: 45;
  width: 675px;
}

#Layer14 {
  position: absolute;
  left: 161px;
  top: 143px;
  height: 309px;
  z-index: 46;
  width: 675px;
}

#Alldigitalgoldis {
  position: absolute;
  left: 206px;
  top: 223px;
  height: 30px;
  z-index: 47;
  width: 248px;
}

#Layer16copy3 {
  position: absolute;
  left: 749px;
  top: 425px;
  height: 14px;
  z-index: 48;
  width: 53px;
}

#byvisiblegoldinva192 {
  position: absolute;
  left: 206px;
  top: 326px;
  height: 51px;
  z-index: 49;
  width: 217px;
}

#backed100 {
  position: absolute;
  left: 207px;
  top: 264px;
  height: 50px;
  z-index: 50;
  width: 292px;
}

#Layer16 {
  position: absolute;
  left: 207px;
  top: 264px;
  height: 50px;
  z-index: 51;
  width: 292px;
}

#gold {
  position: absolute;
  left: 473px;
  top: 209px;
  height: 224px;
  z-index: 52;
  width: 345px;
}

#Layer17 {
  position: absolute;
  left: 690px;
  top: 200px;
  height: 28px;
  z-index: 53;
  width: 33px;
}

#Layer17copy {
  position: absolute;
  left: 459px;
  top: 257px;
  height: 28px;
  z-index: 54;
  width: 33px;
}

body { margin:0; padding:0; width:100%; background:url(../images/Layer0.png) top center repeat; }
body { margin:0; padding:0; width:100%; background:url(../images/Layer1.png) top center repeat; }
#Layer12copy {
  position: absolute;
  left: 100px;
  top: 9px;
  height: 604px;
  z-index: 55;
  width: 1081px;
}

#Layer2 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 682px;
  z-index: 56;
  width: 1024px;
}

#Layer30 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 568px;
  z-index: 57;
  width: 588px;
}

#Layer3 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 7px;
  z-index: 58;
  width: 1024px;
}

#XmanBank {
  position: absolute;
  left: 224px;
  top: 42px;
  height: 31px;
  z-index: 59;
  width: 177px;
}

#goldlogo {
  position: absolute;
  left: 167px;
  top: 27px;
  height: 56px;
  z-index: 60;
  width: 47px;
}

#Layer6 {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 61;
  width: 960px;
}

#Layer10copy {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 62;
  width: 82px;
}

#HomeAboutusOurser161 {
  position: absolute;
  left: 182px;
  top: 107px;
  height: 14px;
  z-index: 63;
  width: 554px;
  font: 16.0px Helvetica;
  color: #ececec;
}

#Layer10 {
  position: absolute;
  left: 781px;
  top: 96px;
  height: 34px;
  z-index: 64;
  width: 340px;
}

#Callus2457555222333 {
  position: absolute;
  left: 873px;
  top: 106px;
  height: 17px;
  z-index: 65;
  width: 225px;
}

#MyaccountSettings143 {
  position: absolute;
  left: 910px;
  top: 68px;
  height: 14px;
  z-index: 66;
  width: 206px;
}

#Layer13 {
  position: absolute;
  left: 161px;
  top: 143px;
  height: 309px;
  z-index: 67;
  width: 675px;
}

#Layer14 {
  position: absolute;
  left: 161px;
  top: 143px;
  height: 309px;
  z-index: 68;
  width: 675px;
}

#Alldigitalgoldis {
  position: absolute;
  left: 206px;
  top: 223px;
  height: 30px;
  z-index: 69;
  width: 248px;
}

#Layer16copy3 {
  position: absolute;
  left: 749px;
  top: 425px;
  height: 14px;
  z-index: 70;
  width: 53px;
}

#byvisiblegoldinva192 {
  position: absolute;
  left: 206px;
  top: 326px;
  height: 51px;
  z-index: 71;
  width: 217px;
}

#backed100 {
  position: absolute;
  left: 207px;
  top: 264px;
  height: 50px;
  z-index: 72;
  width: 292px;
}

#Layer16 {
  position: absolute;
  left: 207px;
  top: 264px;
  height: 50px;
  z-index: 73;
  width: 292px;
}

#gold {
  position: absolute;
  left: 473px;
  top: 209px;
  height: 224px;
  z-index: 74;
  width: 345px;
}

#Layer17 {
  position: absolute;
  left: 690px;
  top: 200px;
  height: 28px;
  z-index: 75;
  width: 33px;
}

#Layer17copy {
  position: absolute;
  left: 459px;
  top: 257px;
  height: 28px;
  z-index: 76;
  width: 33px;
}

#Layer18 {
  position: absolute;
  left: 849px;
  top: 143px;
  height: 308px;
  z-index: 77;
  width: 271px;
}

#Custamerlogin {
  position: absolute;
  left: 899px;
  top: 165px;
  height: 14px;
  z-index: 78;
  width: 137px;
}

#Notamember {
  position: absolute;
  left: 925px;
  top: 374px;
  height: 14px;
  z-index: 79;
  width: 117px;
}

#Layer20 {
  position: absolute;
  left: 848px;
  top: 334px;
  height: 1px;
  z-index: 80;
  width: 273px;
}

#Layer21 {
  position: absolute;
  left: 846px;
  top: 174px;
  height: 161px;
  z-index: 81;
  width: 287px;
}

#Layer19 {
  position: absolute;
  left: 875px;
  top: 198px;
  height: 25px;
  z-index: 82;
  width: 216px;
}

#Layer19copy {
  position: absolute;
  left: 875px;
  top: 235px;
  height: 25px;
  z-index: 83;
  width: 216px;
}

#Layer6copy {
  position: absolute;
  left: 938px;
  top: 321px;
  height: 34px;
  z-index: 84;
  width: 85px;
}

#Layer24 {
  position: absolute;
  left: 938px;
  top: 321px;
  height: 34px;
  z-index: 85;
  width: 85px;
}

#Layer24copy {
  position: absolute;
  left: 937px;
  top: 356px;
  height: 34px;
  z-index: 86;
  width: 86px;
}

#Login {
  position: absolute;
  left: 956px;
  top: 332px;
  height: 17px;
  z-index: 87;
  width: 52px;
}

#Layer6copy2 {
  position: absolute;
  left: 891px;
  top: 402px;
  height: 34px;
  z-index: 88;
  width: 185px;
}

#Layer25 {
  position: absolute;
  left: 892px;
  top: 402px;
  height: 34px;
  z-index: 89;
  width: 184px;
}

#Openanaccount {
  position: absolute;
  left: 911px;
  top: 413px;
  height: 17px;
  z-index: 90;
  width: 145px;
}

#Rememberme {
  position: absolute;
  left: 944px;
  top: 275px;
  height: 10px;
  z-index: 91;
  width: 91px;
}

#Layer22 {
  position: absolute;
  left: 925px;
  top: 274px;
  height: 11px;
  z-index: 92;
  width: 12px;
}

#Layer23 {
  position: absolute;
  left: 872px;
  top: 159px;
  height: 21px;
  z-index: 93;
  width: 21px;
}

#Username {
  position: absolute;
  left: 890px;
  top: 206px;
  height: 10px;
  z-index: 94;
  width: 68px;
}

#Forgetyourpassword {
  position: absolute;
  left: 916px;
  top: 295px;
  height: 13px;
  z-index: 95;
  width: 136px;
}

#Password {
  position: absolute;
  left: 891px;
  top: 242px;
  height: 10px;
  z-index: 96;
  width: 61px;
}

body { margin:0; padding:0; width:100%; background:url(../images/Layer0.png) top center repeat; }
body { margin:0; padding:0; width:100%; background:url(../images/Layer1.png) top center repeat; }
#Layer12copy {
  position: absolute;
  left: 100px;
  top: 9px;
  height: 604px;
  z-index: 97;
  width: 1081px;
}

#Layer2 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 682px;
  z-index: 98;
  width: 1024px;
}

#Layer30 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 568px;
  z-index: 99;
  width: 588px;
}

#Layer3 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 7px;
  z-index: 100;
  width: 1024px;
}

#XmanBank {
  position: absolute;
  left: 224px;
  top: 42px;
  height: 31px;
  z-index: 101;
  width: 177px;
}

#goldlogo {
  position: absolute;
  left: 167px;
  top: 27px;
  height: 56px;
  z-index: 102;
  width: 47px;
}

#Layer6 {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 103;
  width: 960px;
}

#Layer10copy {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 104;
  width: 82px;
}

#HomeAboutusOurser161 {
  position: absolute;
  left: 182px;
  top: 107px;
  height: 14px;
  z-index: 105;
  width: 554px;
  font: 16.0px Helvetica;
  color: #ececec;
}

#Layer10 {
  position: absolute;
  left: 781px;
  top: 96px;
  height: 34px;
  z-index: 106;
  width: 340px;
}

#Callus2457555222333 {
  position: absolute;
  left: 873px;
  top: 106px;
  height: 17px;
  z-index: 107;
  width: 225px;
}

#MyaccountSettings143 {
  position: absolute;
  left: 910px;
  top: 68px;
  height: 14px;
  z-index: 108;
  width: 206px;
}

#Layer13 {
  position: absolute;
  left: 161px;
  top: 143px;
  height: 309px;
  z-index: 109;
  width: 675px;
}

#Layer14 {
  position: absolute;
  left: 161px;
  top: 143px;
  height: 309px;
  z-index: 110;
  width: 675px;
}

#Alldigitalgoldis {
  position: absolute;
  left: 206px;
  top: 223px;
  height: 30px;
  z-index: 111;
  width: 248px;
}

#Layer16copy3 {
  position: absolute;
  left: 749px;
  top: 425px;
  height: 14px;
  z-index: 112;
  width: 53px;
}

#byvisiblegoldinva192 {
  position: absolute;
  left: 206px;
  top: 326px;
  height: 51px;
  z-index: 113;
  width: 217px;
}

#backed100 {
  position: absolute;
  left: 207px;
  top: 264px;
  height: 50px;
  z-index: 114;
  width: 292px;
}

#Layer16 {
  position: absolute;
  left: 207px;
  top: 264px;
  height: 50px;
  z-index: 115;
  width: 292px;
}

#gold {
  position: absolute;
  left: 473px;
  top: 209px;
  height: 224px;
  z-index: 116;
  width: 345px;
}

#Layer17 {
  position: absolute;
  left: 690px;
  top: 200px;
  height: 28px;
  z-index: 117;
  width: 33px;
}

#Layer17copy {
  position: absolute;
  left: 459px;
  top: 257px;
  height: 28px;
  z-index: 118;
  width: 33px;
}

#Layer18 {
  position: absolute;
  left: 849px;
  top: 143px;
  height: 308px;
  z-index: 119;
  width: 271px;
}

#Custamerlogin {
  position: absolute;
  left: 899px;
  top: 165px;
  height: 14px;
  z-index: 120;
  width: 137px;
}

#Notamember {
  position: absolute;
  left: 925px;
  top: 374px;
  height: 14px;
  z-index: 121;
  width: 117px;
}

#Layer20 {
  position: absolute;
  left: 848px;
  top: 334px;
  height: 1px;
  z-index: 122;
  width: 273px;
}

#Layer21 {
  position: absolute;
  left: 846px;
  top: 174px;
  height: 161px;
  z-index: 123;
  width: 287px;
}

#Layer19 {
  position: absolute;
  left: 875px;
  top: 198px;
  height: 25px;
  z-index: 124;
  width: 216px;
}

#Layer19copy {
  position: absolute;
  left: 875px;
  top: 235px;
  height: 25px;
  z-index: 125;
  width: 216px;
}

#Layer6copy {
  position: absolute;
  left: 938px;
  top: 321px;
  height: 34px;
  z-index: 126;
  width: 85px;
}

#Layer24 {
  position: absolute;
  left: 938px;
  top: 321px;
  height: 34px;
  z-index: 127;
  width: 85px;
}

#Layer24copy {
  position: absolute;
  left: 937px;
  top: 356px;
  height: 34px;
  z-index: 128;
  width: 86px;
}

#Login {
  position: absolute;
  left: 956px;
  top: 332px;
  height: 17px;
  z-index: 129;
  width: 52px;
}

#Layer6copy2 {
  position: absolute;
  left: 891px;
  top: 402px;
  height: 34px;
  z-index: 130;
  width: 185px;
}

#Layer25 {
  position: absolute;
  left: 892px;
  top: 402px;
  height: 34px;
  z-index: 131;
  width: 184px;
}

#Openanaccount {
  position: absolute;
  left: 911px;
  top: 413px;
  height: 17px;
  z-index: 132;
  width: 145px;
}

#Rememberme {
  position: absolute;
  left: 944px;
  top: 275px;
  height: 10px;
  z-index: 133;
  width: 91px;
}

#Layer22 {
  position: absolute;
  left: 925px;
  top: 274px;
  height: 11px;
  z-index: 134;
  width: 12px;
}

#Layer23 {
  position: absolute;
  left: 872px;
  top: 159px;
  height: 21px;
  z-index: 135;
  width: 21px;
}

#Username {
  position: absolute;
  left: 890px;
  top: 206px;
  height: 10px;
  z-index: 136;
  width: 68px;
}

#Forgetyourpassword {
  position: absolute;
  left: 916px;
  top: 295px;
  height: 13px;
  z-index: 137;
  width: 136px;
}

#Password {
  position: absolute;
  left: 891px;
  top: 242px;
  height: 10px;
  z-index: 138;
  width: 61px;
}

#LoremIpsumissimpl532 {
  position: absolute;
  left: 209px;
  top: 523px;
  height: 113px;
  z-index: 139;
  width: 309px;
}

#Layer26 {
  position: absolute;
  left: 183px;
  top: 523px;
  height: 109px;
  z-index: 140;
  width: 13px;
}

#OurSpecialties {
  position: absolute;
  left: 173px;
  top: 476px;
  height: 20px;
  z-index: 141;
  width: 159px;
}

body { margin:0; padding:0; width:100%; background:url(../images/Layer0.png) top center repeat; }
body { margin:0; padding:0; width:100%; background:url(../images/Layer1.png) top center repeat; }
#Layer12copy {
  position: absolute;
  left: 100px;
  top: 9px;
  height: 604px;
  z-index: 142;
  width: 1081px;
}

#Layer2 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 682px;
  z-index: 143;
  width: 1024px;
}

#Layer30 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 568px;
  z-index: 144;
  width: 588px;
}

#Layer3 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 7px;
  z-index: 145;
  width: 1024px;
}

#XmanBank {
  position: absolute;
  left: 224px;
  top: 42px;
  height: 31px;
  z-index: 146;
  width: 177px;
}

#goldlogo {
  position: absolute;
  left: 167px;
  top: 27px;
  height: 56px;
  z-index: 147;
  width: 47px;
}

#Layer6 {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 148;
  width: 960px;
}

#Layer10copy {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 149;
  width: 82px;
}

#HomeAboutusOurser161 {
  position: absolute;
  left: 182px;
  top: 107px;
  height: 14px;
  z-index: 150;
  width: 554px;
  font: 16.0px Helvetica;
  color: #ececec;
}

#Layer10 {
  position: absolute;
  left: 781px;
  top: 96px;
  height: 34px;
  z-index: 151;
  width: 340px;
}

#Callus2457555222333 {
  position: absolute;
  left: 873px;
  top: 106px;
  height: 17px;
  z-index: 152;
  width: 225px;
}

#MyaccountSettings143 {
  position: absolute;
  left: 910px;
  top: 68px;
  height: 14px;
  z-index: 153;
  width: 206px;
}

#Layer13 {
  position: absolute;
  left: 161px;
  top: 143px;
  height: 309px;
  z-index: 154;
  width: 675px;
}

#Layer14 {
  position: absolute;
  left: 161px;
  top: 143px;
  height: 309px;
  z-index: 155;
  width: 675px;
}

#Alldigitalgoldis {
  position: absolute;
  left: 206px;
  top: 223px;
  height: 30px;
  z-index: 156;
  width: 248px;
}

#Layer16copy3 {
  position: absolute;
  left: 749px;
  top: 425px;
  height: 14px;
  z-index: 157;
  width: 53px;
}

#byvisiblegoldinva192 {
  position: absolute;
  left: 206px;
  top: 326px;
  height: 51px;
  z-index: 158;
  width: 217px;
}

#backed100 {
  position: absolute;
  left: 207px;
  top: 264px;
  height: 50px;
  z-index: 159;
  width: 292px;
}

#Layer16 {
  position: absolute;
  left: 207px;
  top: 264px;
  height: 50px;
  z-index: 160;
  width: 292px;
}

#gold {
  position: absolute;
  left: 473px;
  top: 209px;
  height: 224px;
  z-index: 161;
  width: 345px;
}

#Layer17 {
  position: absolute;
  left: 690px;
  top: 200px;
  height: 28px;
  z-index: 162;
  width: 33px;
}

#Layer17copy {
  position: absolute;
  left: 459px;
  top: 257px;
  height: 28px;
  z-index: 163;
  width: 33px;
}

#Layer18 {
  position: absolute;
  left: 849px;
  top: 143px;
  height: 308px;
  z-index: 164;
  width: 271px;
}

#Custamerlogin {
  position: absolute;
  left: 899px;
  top: 165px;
  height: 14px;
  z-index: 165;
  width: 137px;
}

#Notamember {
  position: absolute;
  left: 925px;
  top: 374px;
  height: 14px;
  z-index: 166;
  width: 117px;
}

#Layer20 {
  position: absolute;
  left: 848px;
  top: 334px;
  height: 1px;
  z-index: 167;
  width: 273px;
}

#Layer21 {
  position: absolute;
  left: 846px;
  top: 174px;
  height: 161px;
  z-index: 168;
  width: 287px;
}

#Layer19 {
  position: absolute;
  left: 875px;
  top: 198px;
  height: 25px;
  z-index: 169;
  width: 216px;
}

#Layer19copy {
  position: absolute;
  left: 875px;
  top: 235px;
  height: 25px;
  z-index: 170;
  width: 216px;
}

#Layer6copy {
  position: absolute;
  left: 938px;
  top: 321px;
  height: 34px;
  z-index: 171;
  width: 85px;
}

#Layer24 {
  position: absolute;
  left: 938px;
  top: 321px;
  height: 34px;
  z-index: 172;
  width: 85px;
}

#Layer24copy {
  position: absolute;
  left: 937px;
  top: 356px;
  height: 34px;
  z-index: 173;
  width: 86px;
}

#Login {
  position: absolute;
  left: 956px;
  top: 332px;
  height: 17px;
  z-index: 174;
  width: 52px;
}

#Layer6copy2 {
  position: absolute;
  left: 891px;
  top: 402px;
  height: 34px;
  z-index: 175;
  width: 185px;
}

#Layer25 {
  position: absolute;
  left: 892px;
  top: 402px;
  height: 34px;
  z-index: 176;
  width: 184px;
}

#Openanaccount {
  position: absolute;
  left: 911px;
  top: 413px;
  height: 17px;
  z-index: 177;
  width: 145px;
}

#Rememberme {
  position: absolute;
  left: 944px;
  top: 275px;
  height: 10px;
  z-index: 178;
  width: 91px;
}

#Layer22 {
  position: absolute;
  left: 925px;
  top: 274px;
  height: 11px;
  z-index: 179;
  width: 12px;
}

#Layer23 {
  position: absolute;
  left: 872px;
  top: 159px;
  height: 21px;
  z-index: 180;
  width: 21px;
}

#Username {
  position: absolute;
  left: 890px;
  top: 206px;
  height: 10px;
  z-index: 181;
  width: 68px;
}

#Forgetyourpassword {
  position: absolute;
  left: 916px;
  top: 295px;
  height: 13px;
  z-index: 182;
  width: 136px;
}

#Password {
  position: absolute;
  left: 891px;
  top: 242px;
  height: 10px;
  z-index: 183;
  width: 61px;
}

#LoremIpsumissimpl532 {
  position: absolute;
  left: 209px;
  top: 523px;
  height: 113px;
  z-index: 184;
  width: 309px;
}

#Layer26 {
  position: absolute;
  left: 183px;
  top: 523px;
  height: 109px;
  z-index: 185;
  width: 13px;
}

#OurSpecialties {
  position: absolute;
  left: 173px;
  top: 476px;
  height: 20px;
  z-index: 186;
  width: 159px;
}

#Howitworks {
  position: absolute;
  left: 554px;
  top: 476px;
  height: 16px;
  z-index: 187;
  width: 136px;
}

#Layer28 {
  position: absolute;
  left: 552px;
  top: 512px;
  height: 140px;
  z-index: 188;
  width: 569px;
}

#goldcopy {
  position: absolute;
  left: 783px;
  top: 540px;
  height: 74px;
  z-index: 189;
  width: 113px;
}

#Group1 {
  position: absolute;
  left: 580px;
  top: 536px;
  height: 79px;
  z-index: 190;
  width: 108px;
}

#CheckValue {
  position: absolute;
  left: 599px;
  top: 612px;
  height: 12px;
  z-index: 191;
  width: 90px;
}

#Buygold {
  position: absolute;
  left: 808px;
  top: 613px;
  height: 14px;
  z-index: 192;
  width: 62px;
}

#Group2copy3 {
  position: absolute;
  left: 998px;
  top: 530px;
  height: 78px;
  z-index: 193;
  width: 74px;
}

#Layer30copy {
  position: absolute;
  left: 726px;
  top: 544px;
  height: 75px;
  z-index: 194;
  width: 229px;
}

#Makepayment {
  position: absolute;
  left: 981px;
  top: 613px;
  height: 14px;
  z-index: 195;
  width: 105px;
}

body { margin:0; padding:0; width:100%; background:url(../images/Layer0.png) top center repeat; }
body { margin:0; padding:0; width:100%; background:url(../images/Layer1.png) top center repeat; }
#Layer12copy {
  position: absolute;
  left: 100px;
  top: 9px;
  height: 604px;
  z-index: 196;
  width: 1081px;
}

#Layer2 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 682px;
  z-index: 197;
  width: 1024px;
}

#Layer30 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 568px;
  z-index: 198;
  width: 588px;
}

#Layer3 {
  position: absolute;
  left: 128px;
  top: 9px;
  height: 7px;
  z-index: 199;
  width: 1024px;
}

#XmanBank {
  position: absolute;
  left: 224px;
  top: 42px;
  height: 31px;
  z-index: 200;
  width: 177px;
}

#goldlogo {
  position: absolute;
  left: 167px;
  top: 27px;
  height: 56px;
  z-index: 201;
  width: 47px;
}

#Layer6 {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 202;
  width: 960px;
}

#Layer10copy {
  position: absolute;
  left: 161px;
  top: 96px;
  height: 34px;
  z-index: 203;
  width: 82px;
}

#HomeAboutusOurser161 {
  position: absolute;
  left: 182px;
  top: 107px;
  height: 14px;
  z-index: 204;
  width: 554px;
  font: 16.0px Helvetica;
  color: #ececec;
}

#Layer10 {
  position: absolute;
  left: 781px;
  top: 96px;
  height: 34px;
  z-index: 205;
  width: 340px;
}

#Callus2457555222333 {
  position: absolute;
  left: 873px;
  top: 106px;
  height: 17px;
  z-index: 206;
  width: 225px;
}

#MyaccountSettings143 {
  position: absolute;
  left: 910px;
  top: 68px;
  height: 14px;
  z-index: 207;
  width: 206px;
}

#Layer13 {
  position: absolute;
  left: 161px;
  top: 143px;
  height: 309px;
  z-index: 208;
  width: 675px;
}

#Layer14 {
  position: absolute;
  left: 161px;
  top: 143px;
  height: 309px;
  z-index: 209;
  width: 675px;
}

#Alldigitalgoldis {
  position: absolute;
  left: 206px;
  top: 223px;
  height: 30px;
  z-index: 210;
  width: 248px;
}

#Layer16copy3 {
  position: absolute;
  left: 749px;
  top: 425px;
  height: 14px;
  z-index: 211;
  width: 53px;
}

#byvisiblegoldinva192 {
  position: absolute;
  left: 206px;
  top: 326px;
  height: 51px;
  z-index: 212;
  width: 217px;
}

#backed100 {
  position: absolute;
  left: 207px;
  top: 264px;
  height: 50px;
  z-index: 213;
  width: 292px;
}

#Layer16 {
  position: absolute;
  left: 207px;
  top: 264px;
  height: 50px;
  z-index: 214;
  width: 292px;
}

#gold {
  position: absolute;
  left: 473px;
  top: 209px;
  height: 224px;
  z-index: 215;
  width: 345px;
}

#Layer17 {
  position: absolute;
  left: 690px;
  top: 200px;
  height: 28px;
  z-index: 216;
  width: 33px;
}

#Layer17copy {
  position: absolute;
  left: 459px;
  top: 257px;
  height: 28px;
  z-index: 217;
  width: 33px;
}

#Layer18 {
  position: absolute;
  left: 849px;
  top: 143px;
  height: 308px;
  z-index: 218;
  width: 271px;
}

#Custamerlogin {
  position: absolute;
  left: 899px;
  top: 165px;
  height: 14px;
  z-index: 219;
  width: 137px;
}

#Notamember {
  position: absolute;
  left: 925px;
  top: 374px;
  height: 14px;
  z-index: 220;
  width: 117px;
}

#Layer20 {
  position: absolute;
  left: 848px;
  top: 334px;
  height: 1px;
  z-index: 221;
  width: 273px;
}

#Layer21 {
  position: absolute;
  left: 846px;
  top: 174px;
  height: 161px;
  z-index: 222;
  width: 287px;
}

#Layer19 {
  position: absolute;
  left: 875px;
  top: 198px;
  height: 25px;
  z-index: 223;
  width: 216px;
}

#Layer19copy {
  position: absolute;
  left: 875px;
  top: 235px;
  height: 25px;
  z-index: 224;
  width: 216px;
}

#Layer6copy {
  position: absolute;
  left: 938px;
  top: 321px;
  height: 34px;
  z-index: 225;
  width: 85px;
}

#Layer24 {
  position: absolute;
  left: 938px;
  top: 321px;
  height: 34px;
  z-index: 226;
  width: 85px;
}

#Layer24copy {
  position: absolute;
  left: 937px;
  top: 356px;
  height: 34px;
  z-index: 227;
  width: 86px;
}

#Login {
  position: absolute;
  left: 956px;
  top: 332px;
  height: 17px;
  z-index: 228;
  width: 52px;
}

#Layer6copy2 {
  position: absolute;
  left: 891px;
  top: 402px;
  height: 34px;
  z-index: 229;
  width: 185px;
}

#Layer25 {
  position: absolute;
  left: 892px;
  top: 402px;
  height: 34px;
  z-index: 230;
  width: 184px;
}

#Openanaccount {
  position: absolute;
  left: 911px;
  top: 413px;
  height: 17px;
  z-index: 231;
  width: 145px;
}

#Rememberme {
  position: absolute;
  left: 944px;
  top: 275px;
  height: 10px;
  z-index: 232;
  width: 91px;
}

#Layer22 {
  position: absolute;
  left: 925px;
  top: 274px;
  height: 11px;
  z-index: 233;
  width: 12px;
}

#Layer23 {
  position: absolute;
  left: 872px;
  top: 159px;
  height: 21px;
  z-index: 234;
  width: 21px;
}

#Username {
  position: absolute;
  left: 890px;
  top: 206px;
  height: 10px;
  z-index: 235;
  width: 68px;
}

#Forgetyourpassword {
  position: absolute;
  left: 916px;
  top: 295px;
  height: 13px;
  z-index: 236;
  width: 136px;
}

#Password {
  position: absolute;
  left: 891px;
  top: 242px;
  height: 10px;
  z-index: 237;
  width: 61px;
}

#LoremIpsumissimpl532 {
  position: absolute;
  left: 209px;
  top: 523px;
  height: 113px;
  z-index: 238;
  width: 309px;
}

#Layer26 {
  position: absolute;
  left: 183px;
  top: 523px;
  height: 109px;
  z-index: 239;
  width: 13px;
}

#OurSpecialties {
  position: absolute;
  left: 173px;
  top: 476px;
  height: 20px;
  z-index: 240;
  width: 159px;
}

#Howitworks {
  position: absolute;
  left: 554px;
  top: 476px;
  height: 16px;
  z-index: 241;
  width: 136px;
}

#Layer28 {
  position: absolute;
  left: 552px;
  top: 512px;
  height: 140px;
  z-index: 242;
  width: 569px;
}

#goldcopy {
  position: absolute;
  left: 783px;
  top: 540px;
  height: 74px;
  z-index: 243;
  width: 113px;
}

#Group1 {
  position: absolute;
  left: 580px;
  top: 536px;
  height: 79px;
  z-index: 244;
  width: 108px;
}

#CheckValue {
  position: absolute;
  left: 599px;
  top: 612px;
  height: 12px;
  z-index: 245;
  width: 90px;
}

#Buygold {
  position: absolute;
  left: 808px;
  top: 613px;
  height: 14px;
  z-index: 246;
  width: 62px;
}

#Group2copy3 {
  position: absolute;
  left: 998px;
  top: 530px;
  height: 78px;
  z-index: 247;
  width: 74px;
}

#Layer30copy {
  position: absolute;
  left: 726px;
  top: 544px;
  height: 75px;
  z-index: 248;
  width: 229px;
}

#Makepayment {
  position: absolute;
  left: 981px;
  top: 613px;
  height: 14px;
  z-index: 249;
  width: 105px;
}

#Layer3copy {
  position: absolute;
  left: 128px;
  top: 684px;
  height: 62px;
  z-index: 250;
  width: 1024px;
}

#Copyright2013Cssa529 {
  position: absolute;
  left: 873px;
  top: 710px;
  height: 14px;
  z-index: 251;
  font: 16.0px Helvetica;
  color: #ececec;
}

#_100secure {
  position: absolute;
  left: 153px;
  top: 706px;
  height: 20px;
  z-index: 252;
  width: 122px;
}

